.description {
  font-size: 13px;
  margin-bottom: 5px;
}

.filters {
  margin-bottom: 5px;
  .search {
    font-size: 15px;
    height: 28px;
    margin-right: 25px;
  }
}

.userList {
  border: 1px solid #d5d5d5;

  .user {
    padding: 10px;
    background-color: #fff;

    &.onVacation {
      background-color: #ffe6de;
    }

    &:not(:last-child){
      border-bottom: 1px solid #d5d5d5;
    }
  }
}
