.currentUser {
  margin-bottom: 20px;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 20px;

  .greeting {
    margin-top: 0;
    margin-bottom: 50px;
    .status {
      text-transform: lowercase;
    }
  }

  .updateStatusDescription {
    font-size: 13px;
    margin-bottom: 5px;
  }

}
