.header {
  width: 100%;
  background-color: #f3f3f3;
  padding: 10px 25px;
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  .headerInner {
    max-width: 1000px;
    margin: auto;
    height: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      margin: 0;
    }

    .username {
      text-transform: capitalize;
      padding-right: 7px;
      border-right: 1px solid;
      margin-right: 7px;
    }

    .logout {
      cursor: pointer;
      transition: .1s;

      &:hover {
        color: #a4b0b7;
      }
    }
  }
}
