.loginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .loginInner {
    padding: 40px 60px;
    background: #f3f3f3;
    border-radius: 2px;
    display: block;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    p {
      margin-top: 0;
      font-size: 17px;
    }

    .username {
      font-size: 15px;
      height: 28px;
      width: 100%;
    }

    .login {
      font-size: 14px;
      height: 28px;
      width: 80px;
      display: block;
      background-color: #fff;
      border: none;
      margin: 10px auto 0;
      cursor: pointer;
      outline: none;
      border-radius: 2px;
      transition: .1s;

      &:not(:disabled):hover {
        background-color: #a4b0b7;
      }
      &:disabled:hover {
        cursor: not-allowed;
      }
    }
  }
}
