body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#d1d7db, #a4b0b7) no-repeat;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

input[type=text] {
  border: none;
  outline: none;
  transition: 0.2s;
  border-radius: 2px;
  padding: 5px;

  &:focus {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  }
}

select {
  font-size: 14px;
  height: 30px;
  width: 150px;
  border-radius: 2px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  transition: .1s;
  padding: 0 5px;

  &:hover {
    background-color: #a4b0b7;
  }
}
